.App {
  text-align: center;
}

.container {
  /* display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  border-style: double;
  padding-top: 25px;
  padding-bottom: 25px; */
  align-content: center;
  width: 400px;
  height: 250px;
  

}

#results {
  list-style-type: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5pxx;
  
}

#title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#details {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr ;
  column-gap: 5px;
  border-style: solid;
  max-width: fit-content;
  left: 20%;
  top: 10%;
  position: absolute;
}
#Map {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  right: 20%;
  position: absolute;
  top:10%;
  
  
}
